@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Parkinsans:wght@300..800&family=Tsukimi+Rounded&display=swap");
@import "tailwindcss";

@theme {
  --font-parkinsans: "Parkinsans";
  --font-Dm-Serif-Display: "Dm-Serif-Display";
  --font-Tsukimi: "Tsukimi Rounded";
  --font-Livvic: "Livvic";
  --font-Lexend: "Lexend";
  --font-Commisioner: "Commissioner";
}
